@import './base.css';
@import './template.css';

body {
  height: 100vh;
  background-color: var(--background-color-100);
  color: var(--color-text-2);
  font-family: Fira Sans Condensed;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
